html,body {
	width: 100%;
	height: 100%;
}
/*body {*/
	/*overflow: hidden;*/
/*}*/

#test4 {
	background-image: url('http://xiandablog.qiniudn.com/img/4.jpg');
}

#test3 {
	background-image: url('http://xiandablog.qiniudn.com/img/3.jpg');
}

#test2 {
	background-image: url('http://xiandablog.qiniudn.com/img/2.jpg');
}
#test1 {
	background-image: url('http://xiandablog.qiniudn.com/img/1.jpg');
}

#like, #dislike {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	top: 20%;
	z-index: 888;
	display: none;
	background-repeat: no-repeat;
}
#like {

	background-image: url(../img/like.png);
}

#dislike {
	background-image: url(../img/dislike.png);
}
.frame {
	background: #000 center;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	background-size: contain;
}
